<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dashboardConfig</key>
	<dict>
		<key>token</key>
		<string>YOUR_TOKEN</string>
		<key>dashboardGateway</key>
		<string>https://phantomsxr.com/api/v1/getarexperience</string>
	</dict>
</dict>
</plist>
